@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Paytone+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GintoNordBlack";
  src: url(/fonts/ABCGintoNord-Black-Trial-BF651b7b7719b0f.otf);
}

@font-face {
  font-family: "GintoNordBold";
  src: url(/fonts/ABCGintoNord-Bold-Trial-BF651b7b7670e10.otf);
}

@font-face {
  font-family: "GintoNordCondBlack";
  src: url(/fonts/ABCGintoNordCondensed-Black-Trial-BF651b7b77b5cf2.otf);
}

@font-face {
  font-family: "GintoNordCondBold";
  src: url(/fonts/ABCGintoNordCondensed-Bold-Trial-BF651b7b7729958.otf);
}

@font-face {
  font-family: "GintoNormal";
  src: url(/fonts/ABCGintoNormal-Bold-Trial-BF651b7b77d863b.otf);
}

.logo {
  filter: brightness(0) invert(1);
}

.arial {
  font-family: "Open Sans", sans-serif;
}

.paytone {
  font-family: "Paytone One", sans-serif;
}

.nordblack {
  font-family: "GintoNordBlack", sans-serif;
}

.nordbold {
  font-family: "GintoNordBold", sans-serif;
}

.condblack {
  font-family: "GintoNordCondBlack", sans-serif;
}

.condbold {
  font-family: "GintoNordCondBold", sans-serif;
}

.gintonormal {
  font-family: "GintoNormal", sans-serif;
}

.hero-section {
  background-image: url(/assets/clouds.svg);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  padding-top: 0;
}

.cta-bg {
  background-image: url(/assets/cta-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85% auto;
  z-index: 0;
}
