@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Paytone+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  filter: brightness(0) invert(1);
}

.arial {
  font-family: "Open Sans", sans-serif;
}

.paytone {
  font-family: "Paytone One", sans-serif;
}

.hero-section {
  background-image: url(https://assets-global.website-files.com/6257ade…/644fab4…_8a8375a….svg),
    url(https://assets-global.website-files.com/6257ade…/644fab4…_c40c84c….svg),
    url(https://assets-global.website-files.com/6257ade…/644fab4…_e6d5771….svg);
  background-position: -57% 100%, 155% 100%, 50% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 51%, 52%, auto;
  min-height: auto;
  padding-top: 0;
}
